body {
  background-color: powderblue;
  font: 14px Arial, sans-serif;
}
h1 {
  font: 10px;
  color: blue;
}
p {
  color: red;
}
button {
  margin: 10px;
  padding: 10px;
  border-radius: 25px;
  font-size: 16px;
  background-color: steelblue;
  color: white
}
select {
  margin: 10px;
  padding: 10px;
  border-radius: 25px;
  font-size: 16px;
  background-color: steelblue;
  color: white
}
body, html { margin: 0; padding: 0; height: 100%; }
#map { 
  width: 90%; 
  height: 90%; 
  margin: 20px 20px 20px 20px;
  border: white 5px solid;
}
#page-header {
  font-size: 24px;
  text-align: left;
  padding: 10px;
  color: white;
  background-color: steelblue;
}